body {
    color: #f3f3f3;
}

.wy-side-nav-search {
    background-color: #B92929;
}
.wy-side-nav-search input[type="text"] {
    border-color: 
    #a42424;
}

.wy-nav-content {
    background-color: #272525;
}

.wy-nav-content-wrap {
    background: 
    rgba(39, 37, 37);
}

.wy-nav-top {
    background: #B92929;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
    background: #838383;
}

a {
    color: #81b4d7;
}

a:hover {
    color: #9cd7ff;
}

a:visited {
    color: #D78989;
}
.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #f3f6f600;
}