body {
    color: #f3f3f3;
}

li.toctree-l2 {
    display: none;
}
li.toctree-l3 {
    display: none;
}
li.toctree-l4 {
    display: none;
}
a.toctree-l2 {
    display: none;
}
a.toctree-l3 {
    display: none;
}
a.toctree-l4 {
    display: none;
}
.wy-side-nav-search {
    background-color: #B92929;
}
.wy-side-nav-search input[type="text"] {
    border-color: 
    #a42424;
}

.wy-nav-content {
    background-color: #272525;
}

.wy-nav-content-wrap {
    background: 
    rgba(39, 37, 37);
}

.wy-nav-top {
    background: #B92929;
}
